<div class="footer">
    <div class="name">
        Bellingham Mutual Aid
    </div>
    <div class="socials">
        <a href="https://www.facebook.com">
            <img class="social-icon" src="/icons/facebook.svg" alt="facebook">
        </a>
        <a href="https://www.twitter.com">
            <img class="social-icon" src="/icons/twitter.svg" alt="twitter">
        </a>
        <a href="https://www.youtube.com">
            <img class="social-icon" src="/icons/youtube.svg" alt="youtube">
        </a>
    </div>
    <div class="disclaimer">
        <p>This is not a replacement for 911.<br>If you have an emergency and need help immediately, please call 911.</p>
    </div>
</div>