<header class="navigation">
    <nav class="leftnav">
        <h1><a href="/">Mutual Aid</a></h1>
    </nav>
    <nav class="rightnav">
        <a href="/">Home</a>
        <a href="/FAQ">Map</a>
        <a href="/">Login</a>
    </nav>
</header>
