<!DOCTYPE html>


<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/header.css">
        <link rel="stylesheet" href="/stylesheets/footer.css">
        <link rel="stylesheet" href="/stylesheets/index.css">
        <link rel="stylesheet" href="/stylesheets/modal.css">
    </head>
    <body onload="viewModal()">

    {{> header}}

    <div class="grid-container">
        <div class="infoBlock">
            <img class = "imageLogo" src="/images/logoblack.png">
            <h2>Getting Started</h2>
            <p>Mutual aid is about helping out people who live in your community. We have made
                this site in order to help with the process of giving and receiving aid. Others from
                your community are able to easily view and and seek help through request called tickets
                Sign in or Sign up to get started!</p>
            <a href="#" class="loginButton">Sign Up</a>
            <p>To make a post regarding requesting aid or offering your services, please visit the ticket page below!
            The ticket page allows you to create a post, view other community member's posts, and reply to posts.</p>
            <a href="/tickets">Tickets Page</a>

            <h2>Find out more more information!</h2>
            <p>If you would like more information before you get started to can visit our frequently
            asked questions page where we break down some common misconceptions about mutual aid
            and some more information on just how exactly you can use this site! Click the button
            to go here.</p>
            <a href="/faq">Frequently Asked Questions</a>
            <h2>See Mutual Aid Groups in your area!</h2>
            <p>Use the Mutual Aid Map page to view groups that exist near you. If you
            click any of the links on the map, you will be taken to that mutual aid groups'
            page. We encourage you to find a group near you to support and be a part of! Click
             the button below to view the map. </p>
            <a href="/map">Mutual Aid Map</a>
            <h2><br>Any questions or comments?</h2>
            <p>Please contact us at the following!</p>
          <button  onclick="showContact()">Contact Us</button>
            <p></p>

        </div>
        <div class="welcomeBlock">
            <div class="welcomeContent">
                <h1>Welcome to Bellingham Mutual Aid!</h1>
                <p>We are glad you made it!</p>
            </div>
        </div>
    </div>

    {{> footer}}
    {{> loginModals}}
    {{> contactModal}}
    <script>
      function showContact() {
        var contactModal = document.getElementById("contactModal");
        contactModal.style.display = "block";
        }
    </script>
    </body>
</html>
