<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="login.css">
<title>Login Page</title>
</head>
<body>
  <div class = "loginbox">
  <img src = "https://img.favpng.com/12/20/1/computer-icons-user-profile-login-avatar-png-favpng-EphX5rTBCrk1QLtEWPmS9h1M9.jpg" class = "avatar">
    <CENTER>
    <h1>Login </h1>
    </CENTER>
    <form>
      <p>Username</p>
      <input type="text" name = "" placeholder="Enter Username">
      <p>Password</p>
      <input type="password" name = "" placeholder="Enter Password">
      <input type="submit" name = "" value="Login">
      <a href="#">Forgot password?</a><br>
      <a href = "#">Create Account</a>
    </form>
  </div>
</body>
</html>
