<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/tickets.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
</head>
<body>

{{> header}}

<div id='ticket-wrapper'>
    <div id='ticket-actions'>
        <ul>
            <li><button type="button" class="action-button primary" id = "modalButton">+ ADD A TICKET</button></li>
            <li><button type="button" class="action-button secondary">+ REQUEST</button></li>
            <li><button type="button" class="action-button secondary">+ GIVE</button></li>
            <li><button type="button" class="action-button secondary">+ SERVICES</button></li>
        </ul>
    </div>
    <div id='no-tickets' style='display: none'>
        <span>NO TICKETS - HERE ARE SOME WAYS TO GET INVOLVED</span>
    </div>
    <div id='tickets'>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket1" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>chrisdawww</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket" >
            <div class="ticket-grid" id = "ticket2" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>danaimone</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket" >
            <div class="ticket-grid" id = "ticket3" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket4" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket5" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket6" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket7" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket8" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket9" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket10" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>hannahbuzard</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid" id = "ticket11" onClick="modalCall(this.id)">
                <div class="ticket-username"><h2>aranclauson</h2></div>
                <div class="ticket-type">Service</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Free flight lessons</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

{{> ticketModal}}
{{> footer}}

<script>
    function modalCall(clickedID) {
      console.log(clickedID);
      var username = document.getElementById(clickedID).children[0].children[0].innerHTML;
      var type = document.getElementById(clickedID).children[1].innerHTML;
      var text = document.getElementById(clickedID).children[3].innerHTML;
      console.log(username);
      console.log(type);
      console.log(text);
      document.getElementById('ticketUser').innerHTML = username;
      document.getElementById('ticketType').innerHTML = type;
      document.getElementById('ticketDesc').innerHTML = text;
      var ticketModal = document.getElementById('ticketModal')
      ticketModal.style.display = "block";
    }
</script>
</body>
</html>
