<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/tickets.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/modal.css">
</head>
<body>

{{> header}}

<div id='ticket-wrapper'>
    <div id='ticket-actions'>
        <ul>
            <li><button type="button" class="action-button primary" id = "modalButton">+ ADD A TICKET</button></li>
            <li><button type="button" class="action-button secondary">+ REQUEST</button></li>
            <li><button type="button" class="action-button secondary">+ GIVE</button></li>
            <li><button type="button" class="action-button secondary">+ SERVICES</button></li>
        </ul>
    </div>
    <div id='no-tickets' style='display: none'>
        <span>NO TICKETS - HERE ARE SOME WAYS TO GET INVOLVED</span>
    </div>
    <div id='tickets'>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>chrisdawww</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>danaimone</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>nitopalma</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>hannahbuzard</h2></div>
                <div class="ticket-type">Request</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>
        <div class="ticket">
            <div class="ticket-grid">
                <div class="ticket-username"><h2>aranclauson</h2></div>
                <div class="ticket-type">Service</div>
                <div class="ticket-picture"></div>
                <div class="ticket-main-text">Free flight lessons</div>
                <div class="ticket-contribute">
                    <button>
                        +
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>

{{> footer}}

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
  <span class="close">&times;</span>
    <div class ="headerPortion">
      <h1> Add A Ticket </h1>
    </div>
    <div class = "radioButtons">
      <form>
        <label class="radio-inline">
          <input type="radio" name="optradio" checked>Request
        </label>
        <label class="radio-inline">
          <input type="radio" name="optradio">Service
        </label>
      </form>
    </div>
    <div class = "titleContent">
      <h3> Title </h3>
      <input type="text" class = "no-outline" name = "title" placeholder="Ticket title..." id = "title">
    </div>
    <div class = "descriptionContent">
      <h3> Description </h3>
      <input type="text" name = "description" class = "no-outline" placeholder="Ticket description..." id = "description">
    </div>
    <div class = "payments">
      <div class = "paymentOption" id ="paymentCheck">
        <input type="checkbox" id="payment" name = "payment" >
        <label for="payment"> Request payment?</label><br>
      </div>
      <div class = "paymentOption" id= "menu">
        <form action="/action_page.php">
          <label for="cars">Payment Method:</label>
          <select name="cars" id="cars" style = "color: #000000;">
            <option value="opel">Venmo</option>
            <option value="audi">Cash App</option>
          </select>
          <br><br>
      </form>
      </div>
    </div>
    <div class = "profileCheck">
        <input type="checkbox" id="profile" name = "profile" >
        <label for="profile"> Anonymous Post?</label><br>
    </div>
    <div class = "submitButton" style= "float: right;">
        <li><button type="button" class="action-button secondary" id = "submitPost">ADD TICKET</button></li>
    </div>
  </div>
</div>

<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("modalButton");
var span = document.getElementsByClassName("close")[0];
var submit = document.getElementById("submitPost");
btn.onclick = function() {
  modal.style.display = "block";
}
span.onclick = function() {
  modal.style.display = "none";
}
submit.onclick = function() {
  modal.style.display = "none";
}
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
</body>
</html>
