$primary: #7dceb4
$secondary: #7f58cc
$primary-compliment: #6fad9a
$secondary-compliment: #614599
$gray: #f5f5f5
$font-family: Arial, Helvetica, sans-serif

nav
  color: white
  display: block
  background-color: $primary
  padding: 1rem
  height: 2rem

  ul
    margin: 0
    padding: 0
    list-style: none

  li
    display: inline-block

  a
    display: block
    color: white
    text-decoration: none

  h1
    padding: 0
    margin: 0
