$primary: #7dceb4
$secondary: #7f58cc
$primary-compliment: #6fad9a
$secondary-compliment: #614599
$gray: #f5f5f5
$font-family: Arial, Helvetica, sans-serif

*
  font-family: $font-family
  margin: auto
  padding: 0

#grid-container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 1fr 2fr
  gap: 0 0
  height: 100%

#welcome
  grid-area: 1 / 1 / 2 / 2
  color: $secondary
  padding: 2rem
  align-items: center
  text-align: center

#buttons
  display: grid
  grid-template-columns: 1fr 1fr 1fr 1fr
  grid-template-rows: 0.6fr 1.4fr
  gap: 0 0
  grid-area: 2 / 1 / 3 / 2
  width: 100%
  padding: 3rem 0
  a
    color: white
    border-radius: 10px
    padding: 0.5rem
    margin: 0.25rem
    text-decoration: none
    background-color: $primary
    box-shadow: 0 3px $primary-compliment
    &:hover
      background-color: $primary-compliment
    &:active
    background-color: $primary

#page-1
  grid-area: 1 / 1 / 2 / 2
  display: flex
#page-2
  grid-area: 1 / 2 / 2 / 3
  display: flex
#page-3
  grid-area: 1 / 3 / 2 / 4
  display: flex
#page-4
  grid-area: 1 / 4 / 2 / 5
  display: flex

