.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height:55%;
}

  .modal-content p {
      color: #7dceb4;
  }

  .modal-content h3 {
      color: #000000;
  }

  .modal-content h1 {
      color: #7dceb4;
      text-align: center;
  }

  .modal-content label {
      color: #000000;
  }

  .radio-inline {
      color: #000000;
      margin-right: 15px;
  }



  input#title {
    border: none;
    border-bottom: 1px solid gray;
}

input#description {
  border: none;
  border-bottom: 1px solid gray;
}



/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.close1 {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close1:hover,
.close1:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.payments {
  display: flex;
  align-content: flex-start;
  flex-wrap: nowrap;
  justify-content: left;
}

.payments div{
  margin: 0;
  margin-right: 15px;
}


.paymentOption {
  margin: 0;
}

.titleContent {
  margin-bottom: 15px;
}
.descriptionContent {
  margin-bottom: 15px;
}
.radioButtons {
  margin-bottom: 15px;
}
.headerPortion {
  margin-bottom: 15px;
}

.paymentOption option {
  color: #000000;
}

.titleContent input {
 border-top-style: hidden;
 border-right-style: hidden;
 border-left-style: hidden;
 border-bottom-style: groove;
  color: #000000;
  font-size: 14px;
}
.descriptionContent input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  color: #000000;
  font-size: 14px;
}
.no-outline:focus {
  outline: none;
}

.submitButton input {
  border-radius: 10px;
  padding: 0.5rem;
  margin: 0.25rem;
  background-color: #7f58cc;
  box-shadow: 0 3px #614599; }
.submitButton input:hover{
  background-color: #614599; }

  #modalButton {
    color: white;
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.25rem;
    text-decoration: none;
    background-color: #7dceb4;
    box-shadow: 0 3px #6fad9a;
    background-color: #7dceb4; }
    #modalButton:hover {
      background-color: #6fad9a; }
